
@{
    ViewBag.Title = "_Dashboard";
    Layout = "~/Views/Shared/_LayoutAffadmin.cshtml";
}
<div class="container-fluid">
    <div class="card cards" >
        <div class="card-header" >
            Affiliation Admin side Dashboard
        </div> 
        <div class="card-body">
            Work In Progress
        </div>
    </div>
    <div>
        <div class="row">
            <a class="col-md-4 col-xl-3 card-link" href="../AffiliationAdminSide/ApplicationForm">
                <div class=" cards bg-c-blue order-card">
                    <div class="card-block">
                        <h2 class="text-right"><i class="fa fa-tasks f-left icn"></i><span>12</span></h2>
                        <span class="m-b-0">Pending Applications</span>
                    </div>
                </div>
            </a>

            <a class="col-md-4 col-xl-3 card-link" href="../AffiliationAdminSide/Recommendedvisit">
                <div class=" cards bg-c-green order-card">
                    <div class="card-block">
                        <h2 class="text-right"><i class=" fa fa-files-o icn f-left"></i><span>6</span></h2>
                        <span class="m-b-0">Manage Visits</span>
                    </div>
                </div>
            </a>

            <a class="col-md-4 col-xl-3 card-link" href="../AffiliationAdminSide/AffiliationCommittee">
                <div class=" cards bg-c-yellow order-card">
                    <div class="card-block">
                        <h2 class="text-right"><i class="fa fa-bar-chart f-left icn"></i><span>486</span></h2>
                        <span class="m-b-0">Affiliation Committee</span>
                    </div>
                </div>
            </a>

            <a class="col-md-4 col-xl-3 card-link" href="../AffiliationAdminSide/Grant">
                <div class=" cards bg-c-pink order-card">
                    <div class="card-block">
                        <h2 class="text-right"><i class="fa fa-key f-left icn"></i><span>8</span></h2>
                        <span class="m-b-0">Grant</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
