
@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">


<head>
    <style>
        .cls {
            display: none;
        }
    </style>    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/DashboardCss/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/DashboardCss/css/semantic.ui.min.css" rel="stylesheet" />
    <link href="~/Content/DashboardCss/css/pignose.calendar.min.css" rel="stylesheet" />
    <link href="~/Content/DashboardCss/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/DashboardCss/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Content/DashboardCss/css/helper.css" rel="stylesheet" />
    <link href="~/Content/DashboardCss/css/style.css" rel="stylesheet" />

</head>
<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- Logo -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <!-- Logo icon -->
                        <b><img src="~/Content/DashboardCss/images/download.jpg" alt="homepage" class="dark-logo img-fluid mr-2" height="30" width="30" /></b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span class="text-dark font-weight-bolder">Affiliation Admin</span>
                    </a>
                </div>
                <!-- End Logo -->
                <div class="navbar-collapse">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler  hidden-md-up text-muted  " href="javascript:void(0) "><i class="fa fa-bars"></i></a> </li>
                        <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted " href="javascript:void(0)"><i class="fa fa-bars"></i></a> </li>


                    </ul>
                    <!-- User profile and search -->
                    <ul class="navbar-nav my-lg-0">

                        <!-- Search -->
                        <li class="nav-item search-box">
                            <a class="nav-link text-muted  " href="javascript:void(0)"><i class="fa fa-search fa-lg "></i></a>
                            <form class="app-search">
                                <input type="text" class="form-control" placeholder="Search here"> <a class="srh-btn"><i class="fa fa-close fa-lg"></i></a>
                            </form>
                        </li>

                        <!-- Profile -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="~/Content/DashboardCss/images/avatar-5.jpg" alt="user" class="profile-pic" /></a>
                            <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                                <ul class="dropdown-user">
                                    <li><a href="#"><i class="fa fa-user fa-md mr-2"></i> Profile</a></li>
                                    <li><a href="#"><i class="fa fa-cog mr-2"></i> Setting</a></li>
                                    <li><a href="#"><i class="fa fa-power-off mr-2"></i> Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- End header header -->
        <!-- Left Sidebar  -->
        <div class="left-sidebar" id="leftsidebartogl" onclick="functiontoggle()">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar ">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        <li class="nav-label">Home</li>
                        <li>
                            <a href="/AffiliationAdminSide/ApplicationForm" aria-expanded="false"><i class="fa fa-tasks"></i><span class="hide-menu">Pending  Applications <!--<span class="label label-rouded label-primary pull-right">2</span>--></span></a>
                            <!-- <ul aria-expanded="false" class="collapse">
                                <li><a href="index.html">Ecommerce </a></li>
                                <li><a href="index1.html">Analytics </a></li>
                            </ul>-->
                        </li>
                        <li class="nav-label">Management</li>
                        <li>
                            <a href="#" aria-expanded="false"><i class="fa fa-files-o"></i><span class="hide-menu">Manage Visits</span></a>

                        </li>
                        <li>
                            <a class="has-arrow fa-lg " href="#" aria-expanded="false"><i class="fa fa-bar-chart"></i><span class="hide-menu">Manage Affiliation</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="#">DisAffiliation</a></li>
                                <li><a href="#">Refund Security Fee</a></li>

                            </ul>
                        </li>
                        <li class="nav-label">Features</li>
                        <li>
                            <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-key"></i><span class="hide-menu">Grant</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="#">Grant Affiliation</a></li>
                                <li><a href="#">Manage Security Deposite</a></li>

                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-users"></i><span class="hide-menu">Affiliation Committee </span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="#">Current Committee</a></li>
                                <li><a href="#">Manage Visits</a></li>
                                <li><a href="#">All Members</a></li>

                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-wpforms"></i><span class="hide-menu">Reports <span class="label label-rouded label-danger pull-right">5</span></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="#">Affiliated Colleges</a></li>
                                <li><a href="#">Disaffiliated Colleges</a></li>
                                <li><a href="#">Under Process Applications</a></li>
                                <li><a href="#">BalanceSheet</a></li>
                                <li><a href="#">Inspection Fee</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-table"></i><span class="hide-menu">Others</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="#">Start Affiliation</a></li>
                                <li><a href="#">Close Affiliation</a></li>
                            </ul>
                        </li>

                        <li>
                            <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-columns"></i><span class="hide-menu">Initials</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="#">Initials</a></li>
                                <li><a href="#">Initial Security Deposite</a></li>

                            </ul>
                        </li>

                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">

                <div class="col-md-12 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a><span class="icon-arrow-right pignose-calendar-top-icon mx-2"></span></li>

                        <li class="active "><a href="javascript:void(0)">Dashboard</a></li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="card p-30" style="background-color:#ffc107;">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-tasks text-white icn"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2 class="text-white">512</h2>
                                    <p class="m-b-0 text-white">Pending Applications</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="card p-30 bg-success">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-files-o text-white icn"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2 class="text-white">512</h2>
                                    <p class="m-b-0 text-white">Manage Visits</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="card p-30" style="background-color: #f86c6b;">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-bar-chart text-white icn"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2 class="text-white">512</h2>
                                    <p class="m-b-0 text-white">Manage Affiliation</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="card p-30 bg-primary">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-key text-white icn"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2 class="text-white">512</h2>
                                    <p class="m-b-0 text-white">Grant</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="card p-30 bg-info">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-users text-white icn"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2 class="text-white">512</h2>
                                    <p class="m-b-0 text-white">Affiliation Committee</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="card p-30 bg-secondary">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-wpforms text-white icn"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2 class="text-white">512</h2>
                                    <p class="m-b-0 text-white">Reports</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="card p-30 bg-success-dark">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-table text-white icn"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2 class="text-white">512</h2>
                                    <p class="m-b-0 text-white">Others</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="card p-30 bg-danger">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-columns text-white icn"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2 class="text-white">512</h2>
                                    <p class="m-b-0 text-white">Initials</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-lg-4 col-md-5 col-sm-6 col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="year-calendar" style="height:inherit"></div>
                            </div>
                        </div>
                    </div>

                </div>


                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
            <footer class="footer text-center row">
                <div class="col-lg-12">
                    © 2018 All rights reserved. Template designed by Asp.net Team
                </div>
            </footer>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="~/Content/DashboardCss/js/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/Content/DashboardCss/js/popper.min.js"></script>
    <script src="~/Content/DashboardCss/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/Content/DashboardCss/js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="~/Content/DashboardCss/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="~/Content/DashboardCss/js/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <!-- Amchart -->
    <script src="~/Content/DashboardCss/js/raphael-min.js"></script>
    <script src="~/Content/DashboardCss/js/morris.js"></script>
    <script src="~/Content/DashboardCss/js/dashboard1-init.js"></script>

    <script src="~/Content/DashboardCss/js/moment.latest.min.js"></script>
    <script src="~/Content/DashboardCss/js/semantic.ui.min.js"></script>
    <script src="~/Content/DashboardCss/js/prism.min.js"></script>
    <script src="~/Content/DashboardCss/js/pignose.init.js"></script>
    <script src="~/Content/DashboardCss/js/pignose.calendar.min.js"></script>
    <script src="~/Content/DashboardCss/js/owl.carousel.min.js"></script>
    <script src="~/Content/DashboardCss/js/owl.carousel-init.js"></script>

    <!-- scripit init-->
    <script src="~/Content/DashboardCss/js/scripts.js"></script>


</body>

</html>
