@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAffadmin.cshtml";
   
}

@*<div class="container">
    @*<div class="jumbotron">
        <h3> Welcome Mr. @User.Identity.Name.ToString()</h3>
    </div>
</div>*@