
@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_layout_reg.cshtml";
}

<div class="alert alert-danger col-9 mt-5" role="alert">
    your CNIC is Alrady ued from another Affiliated college of university of sargodha please contact with Registration Branch to clear resole your problem...  
</div>

