
@{
    ViewBag.Title = "AlreadyRegisterdInRunningProgram";
    Layout = "~/Views/Shared/_layout_reg.cshtml";
}

<div class="alert alert-danger col-9 mt-5" role="alert">
    This is Already Registerd In Some Current Session With University Of Sargodha Please Visit Registration Branch of UOS....!!!!!
</div>

