
@{
    ViewBag.Title = "ErrorIsRegistration";
    Layout = "~/Views/Shared/_layout_reg.cshtml";
}

<div class="alert alert-danger col-9 mt-5" role="alert">
    Sorry Some Error Occure in Checking Eligibility Please try Again!!!!
</div>

