@using ReportViewerForMvc; 
@{
    ViewBag.Title = "StuApplicationFormComplete";
    Layout = "~/Views/Shared/_layout_reg.cshtml";
}

@*<h1>Pending Work</h1>
<br />
<h2>StuApplicationFormComplete</h2>
<br />
<h3>Show complete application that is submitted No further Action require here </h3>*@
@*<div class="col-md-3"><button id="Download_report" class="btn btn-rounded btn-success">Download Reprt</button></div>*@


<style>
    iframe {
        /*for the report viewer*/
        border: none;
        /*padding: 0;
            margin: 0;*/
        width: 100%;
        height: 100%;
        margin: auto;
        overflow-y: hidden;
    }

    #ReportViewer1 {
        margin: auto;
    }
</style>

@using (Html.BeginForm())
{

    if (ViewBag.ReportViewer != null)
    {<div class="container">
        @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
        @*@Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new { SizeToReportContent = true, Width = auto, Height = "100%" })*@
    </div>
    }
}


@section scripts{
    <script>    
        $(document).ready(function () {
            
            //$("#Download_report").click(function (e) {
            //    e.preventDefault();
            //    $(location).attr('href', '../Registration/DownloadStudentApplicationForm');

            //});
            
            
            
        });
    </script>
}
