
@{
    ViewBag.Title = "SubmittedStudents";
    Layout = "~/Views/Shared/_layout_reg.cshtml";
}

<h2>SubmittedStudents</h2>

<h1>1:     Place dropdownlist to select the letest granted cource </h1>
<h1>2:     place datatable to view the list of submited students ( Refresh data with respect to cource)</h1>


