
@{
    ViewBag.Title = "VerifiedChallan";
    Layout = "~/Views/Shared/_layout_reg.cshtml";
}

@*<h2>VerifiedChallan</h2>*@


<div class="row table-responsive table-responsive-sm mx-auto">
    <table id="table" class="w-100 table table-hover nowrap table-condensed table-sm">
        <thead class="bg-primary1">
            <tr class="label text-white" style="height:40px;">
                <td class="align-middle">Program</td>
                <td class="align-middle">Send Date</td>
                <td class="align-middle">No. Reject</td>
                <td class="align-middle">No. Send</td>
                <td class="align-middle">No. Already Reg</td>
                <td class="align-middle">View</td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

</div>


<script src="~/Scripts/toastr.js"></script>

@{
    if (!string.IsNullOrEmpty(ViewBag.messageshow))
    {
        <script type="text/javascript">toastr.success(@ViewBag.messageshow)</script>
    }
    if (!string.IsNullOrEmpty(ViewBag.ApplicationIdNotFound))
    {
        <script type="text/javascript">toastr.success(@ViewBag.DDImageNull)</script>
    }
    if (!string.IsNullOrEmpty(ViewBag.Exception))
    {
        <script type="text/javascript">toastr.success(@ViewBag.Exception)</script>
    }
}

@section scripts{
    <script>

        $(document).ready(function () {

            $("#table").DataTable({
                ajax: {
                    url: "../Registration/dtblReturnpendignForChallan?RetStu=3",
                    dataSrc: ""
                },
                columns: [
                   {
                       data: "Program_Desc"
                   },
                   {
                       data: "return_send_date"
                   },
                   {
                       data: "no_stu_Reject"
                   },
                   {
                       data: "StuInReturn"
                   },
                   {
                       data: "AlreadyRegisterd"
                   },
                   {
                       render: function (data, type, row) {
                           return '<button class="btn btn-success btn-rounded btn-sm py-0 px-2 vsmall" id="btn_View" data-ReturnId="' + row.ReturnId + '">View</button>'
                       }
                   }
                ]
            });
            // data table ending
            // view button call
            $("#table").on("click", "#btn_View", function (e) {
                e.preventDefault();
                var ReturnId = $(this).attr("data-ReturnId");
                $(location).attr('href', '/Registration/StuWRTReturn?returnId='+ReturnId +'');
            });

            // Download button call
            $("#table").on("click", "#btn_download", function (e) {
                e.preventDefault();
                toastr.error("Pending", "will download challan according to return");
            });


            // ready function ending
        });
    </script>
}




