<!DOCTYPE html>

<html>
<head>
    <title>Index</title>   
</head>
<body>
    <div class="text-center m-4">
        <h1>Front Page</h1>
        <a href="~/Accounts/Login">LogIn</a>
    </div>
</body>
</html>
