
<footer class="foot">
    <section style="background-color: #072F5F; border-bottom: 1px solid #5E7CA6; ">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-12 text-white my-2">
                    <i class="fa fa-lg fa-phone"><span style="font-size: 14px;" class="ml-2">048 9230812</span></i>

                </div>
                <div class="col-md-4 col-sm-12 col-12 text-white my-2">
                    <i class="fa fa-lg fa-at"><span style="font-size: 14px;" class="ml-2">admissions@uos.edu.pk</span></i>
                </div>
                <div class="col-md-4 col-sm-12 col-12 text-white my-2 ">
                    <i class="fa fa-lg fa-map-marker"><span style="font-size: 14px;" class="ml-2">University Road, Sargodha, Punjab Pakistan</span></i>
                </div>
            </div>
        </div>

    </section>
    <section style="background-color:#072F5F;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-white text-center my-2" style="font-size:14px;">

                    copyrights@uos.edu.pk
                </div>

            </div>
        </div>

    </section>
</footer>